<h1>My Blog Posts:</h1>

<div>
  <% @blog_posts.each do |blog_post| %>
    <%= image_tag blog_post.cover_image if blog_post.cover_image.present? %>
    <h2><%= link_to blog_post.title, blog_post_path(blog_post.id) %></h2>
    <!-- blog_post_path(blog_post.id) = blog_post_path(blog_post) = blog_post -->
    <% if blog_post.draft? %>
      <div style="background-color: darkgray; color: dimgrey; height: 50px; width: 150px; align-items: center; justify-content: center; display: flex; border-radius: 12px; font-size: 24px"> Draft </div>
    <% elsif blog_post.scheduled? %>
      <div style="background-color: lightskyblue; color: dodgerblue; height: 50px; width: 150px; align-items: center; justify-content: center; display: flex; border-radius: 12px; font-size: 24px"> Scheduled </div>
    <% end %>
    <p><%=blog_post.content %></p>
  <% end %>
</div>

<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
