<footer class="footer section">
  <div class="footer-container container d-grid">
    <div class="company-data">
      <%= link_to "BlogSample", root_path, class: "logo" %>

      <p class="company-description"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique a tempore sapiente corporis, eaque fuga placeat odit voluptatibus. </p>

      <ul class="list social-media">

        <li class="list-item">
          <a href="#" class="list-link">
            <i class="ri-instagram-line"></i>
          </a>
        </li>

        <li class="list-item">
          <a href="#" class="list-link">
            <i class="ri-facebook-circle-line"></i>
          </a>
        </li>

        <li class="list-item">
          <a href="#" class="list-link">
            <i class="ri-github-line"></i>
          </a>
        </li>

        <li class="list-item">
          <a href="#" class="list-link">
            <i class="ri-linkedin-line"></i>
          </a>
        </li>

      </ul>

      <span class="copyright-notice">&copy; 2025 BlogSample. All rights reserved.</span>
    </div>

    <div>
      <h6 class="title footer-title"> Categories </h6>
      <ul class="list footer-list">

        <li class="list-title">
          <a class="list-link"> Sample item </a>
        </li>

        <li class="list-title">
          <a class="list-link"> Sample item </a>
        </li>

        <li class="list-title">
          <a class="list-link"> Sample item </a>
        </li>

        <li class="list-title">
          <a class="list-link"> Sample item </a>
        </li>
      </ul>
    </div>

    <div>
      <h6 class="title footer-title"> Company </h6>
      <ul class="list footer-list">

        <li class="list-title">
          <a class="list-link"> Sample item </a>
        </li>

        <li class="list-title">
          <a class="list-link"> Sample item </a>
        </li>

        <li class="list-title">
          <a class="list-link"> Sample item </a>
        </li>

        <li class="list-title">
          <a class="list-link"> Sample item </a>
        </li>
      </ul>
    </div>

    <div>
      <h6 class="title footer-title"> Useful links </h6>
      <ul class="list footer-list">

        <li class="list-title">
          <a class="list-link"> Sample item </a>
        </li>

        <li class="list-title">
          <a class="list-link"> Sample item </a>
        </li>

        <li class="list-title">
          <a class="list-link"> Sample item </a>
        </li>

        <li class="list-title">
          <a class="list-link"> Sample item </a>
        </li>
      </ul>
    </div>

  </div>
</footer>