<section class="newsletter-section">
  <div class="container">

    <h2 class="title section-title" data-name="Newsletter"> Newsletter </h2>

    <div class="form-container-inner">

      <h6 class="title newsletter-title"> Subscribe to BlogSample </h6>
      <p class="newsletter-description"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique a tempore sapiente corporis, eaque fuga placeat odit voluptatibus. </p>

      <form action="#" class="form">
        <input type="text" class="form-input" placeholder="Enter your email address">
        <button class="btn  form-btn" type="submit">
          <i class="ri-mail-send-line"></i>
        </button>
      </form>

    </div>
  </div>
</section>